@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$primary-color: hsl(300, 43%, 22%);
$seconday-color: hsl(333, 80%, 67%);

//fonts color
$p-txt-color: hsl(303, 10%, 53%);
$testimonial-txtcolor: hsl(0, 0%, 100%);

//div color
$rate-color: hsl(300, 24%, 96%);

$font: 'Spartan', sans-serif;
$font-size: 0.9rem
