@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("/images/bg-pattern-top-mobile.svg") no-repeat top,
    url("/images/bg-pattern-bottom-mobile.svg") no-repeat bottom
  ;
}

main{
  padding: 60px 20px;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  main{
    padding: 60px 80px;
  }
}
//mobile first

@import "header";
@import "testimonial";
@import "footer";
@import "media-desktop";